<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Ballocate</title>
    {% endif %}
    {% block style %}
    
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{
      url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
      <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      </script>
      <script src="static/js/courts.js"></script>
      <script type=text/javascript>
      function up(attendanceId) {
        $('a#').hide()
      }
    </script>

  </head>
  <body>
    <div>Ballocate: <a href="/index">Home</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>